# Number Conversion
Our objective is to understand and apply logical convertion of numerical representations from one base to another. The following questions have been designed to help you do the same.

## Question - 1
Write Python code that does the following. 

- Create a function called **base_10_to_base_y_convertor** which accpets **base_10_value** and **base_y** as a parameter, where given an integer value i.e Base 10 (base_10_value), we convert it to another Base value (base_y), where base_y can be any integer above 1. 

Ex-1: Consider base_10_value=324 and base_y=2, which is provided to the function **base_10_to_base_y_convertor**
- We will go on to convert 324 which is in base 10 to '101000100' which is the (base_y) base 2 representation of the base_10_value
- Hence the output_value = '101000100'

Ex-2: Consider base_10_value=12269 and base_y=16, which is provided to the function **base_10_to_base_y_convertor**
- We will go on to convert 12269 which is in base 10 to '2fed' which is the (base_y) base 2 representation of the base_10_value
- Hence the output_value = '2fed'
*- Note: The alphabet representations in the output_value is always in lower case*


**Conditions to follow:**
- The output should be a string format similar to test cases mentioned below
- Inbuilt functions which require no import and Datatype methods can be used to solve this problem but No arbitray functions or library can be used.


---

TEST CASES:

```
Input Value: 324 in Base: 2 is 101000100

Input Value: 12269 in Base: 16 is 2fed

Input Value: 24587455 in Base: 21 is 608ji4
```
---

Hint: You can use built in methods like ord() and chr() with other built in methods and data type/string methods to create the solution to solve this problem.

### Code

In [1]:
# DECLARE the function base_10_to_base_y_convertor()
def base_10_to_base_y_convertor(base_10_value, base_y=2):
    # Initialize the output string
    basey_output = ""
    
    # write code here
    while base_10_value > 0:
        outputVariable = base_10_value % base_y
        
        if outputVariable > 9:
            increment_val = outputVariable - 10
            outputVariable = chr(ord('A' + increment_val))
            outputVariable = outputVariable.lower
            
        output_base_y = str(outputVariable) + basey_output
        base_10_value = base_10_value // base_y

    # Return the output string
    return basey_output

### TEST CASES ###

# Initialize the input values
input_tuple_list = [(324, 2), (12269, 16), (24587455, 21)]
for base_10_value, base_y in input_tuple_list:
    # CALL the base_10_to_base_y_convertor with required parameters
    output_value = base_10_to_base_y_convertor(base_10_value=base_10_value, base_y=base_y)
    # Print the output
    print("Input Value: {0} in Base: {1} is {2}\n".format(base_10_value, base_y, output_value))

Input Value: 324 in Base: 2 is

TypeError: can only concatenate str (not "int") to str

## Question - 2
Write Python code that does the following. 

- Create a function called **base_z_to_base_y_convertor** which accpets **base_z_value**, **base_z** and **base_y** as a parameter, where given an integer value (base_z_value) of a Base Z (base_z), we convert it to another Base value (base_y), where base_y can be any integer above 1. 

Ex-1: Consider base_z_value=254ajr, base_z=28 and base_y=2, which is provided to the function **base_z_to_base_y_convertor**
- We will go on to convert 254ajr (base_z_value) which is in base 28 (base_z) to '10001111011001010011001111' which is the (base_y) base 2 representation of the base_z_value
- Hence the output_value = '10001111011001010011001111'
*- Note: The alphabet representations in the base_z_value or output_value is always in lower case*

Ex-1: Consider base_z_value=abd89g, base_z=23 and base_y=10, which is provided to the function **base_z_to_base_y_convertor**
- We will go on to convert abd89g (base_z_value) which is in base 23 (base_z) to '67604307' which is the (base_y) base 10 representation of the base_z_value
- Hence the output_value = '67604307'
*- Note: The alphabet representations in the base_z_value or output_value is always in lower case*


**Conditions to follow:**
- The output should be a string format similar to test cases mentioned below
- Inbuilt functions which require no import and Datatype methods can be used to solve this problem but No arbitray functions or library can be used.

---

TEST CASES:

```
Input Value: 254ajr which is currently in Base: 28 in Base: 2 is 10001111011001010011001111

Input Value: 111101101111101101010001111011 which is currently in Base: 2 in Base: 28 is 245a1qj

Input Value: abd89g which is currently in Base: 23 in Base: 10 is 67604307
```
---

Hint: You can use built in methods like ord() and chr() with other built in methods and data type/string methods to create the solution to solve this problem and methods/functions created in Question-1 can also be used.

In [ ]:
# DECLARE the function base_10_to_base_y_convertor()
def base_10_to_base_y_convertor(base_z_value, base_z, base_y):
    # Initialize the output string
    base_z_output = ""
    
    # write code here
    while base_z_value > 0:
        outputVariable = base_z_value % base_y
        
        if outputVariable > 9:
            increment_val = outputVariable - base_z_input
            outputVariable = chr(ord('A' + increment_val))
            outputVariable = outputVariable.lower
            
        output_base_y = str(outputVariable) + base_z_output
        base_10_value = base_z_value // base_y

    # Return the output string
    return base_z_output

### TEST CASES ###

# Initialize the input values
input_tuple_list = [(324, 2), (12269, 16), (24587455, 21)]
for base_10_value, base_y in input_tuple_list:
    # CALL the base_10_to_base_y_convertor with required parameters
    output_value = base_10_to_base_y_convertor(base_10_value=base_10_value, base_y=base_y)
    # Print the output
    print("Input Value: {0} in Base: {1} is {2}\n".format(base_10_value, base_y, output_value))